<div class="container">

  <h2><strong>NEW ARRIVALS</strong></h2>
  <p> We'll keep building the gear. You'll keep getting better</p>
  <div class="navLinks" id="navLinks">
  <a href="javascript:void(0);" class="icon" (click)="responsiveNavbar()">
    <i class="fa fa-toggle-down" id="toggle"></i>
    </a>
  <a href="men"><button class="shopping btn btn-default" type="click">MEN</button></a>
  <a href="womens"><button class="shopping btn btn-default" type="click">WOMEN</button></a>
  <a href="boys"><button class="shopping btn btn-default" type="click">BOYS</button></a>
  <a href="girls"><button class="shopping btn btn-default" type="click">GIRLS</button></a>

</div>
</div>
