<div class="row">
  <div class="col col-md-4">
    <div class="card">
      <img src="http://www.sanabrialanzarote.com/images/389/1280750040.jpg" style="width:100%">
      <h1>Tops</h1>
      <p class="price">$19.99</p>
      <p>Men's Tops</p>
      <p><button>Add to Cart</button></p>
    </div>
  </div>
  <div class="col col-md-4">
    <div class="card">
      <img src="https://xcdn.next.co.uk/Common/Items/Default/Default/ItemImages/Search/224x336/551396.jpg?X56" style="width:100%">
      <h1>Accessories</h1>
      <p class="price">$11.99</p>
      <p>Men's Accessories</p>
      <p><button>Add to Cart</button></p>
    </div>
  </div>
  <div class="col col-md-4">
  <div class="card">
    <img src="https://xcdn.next.co.uk/Common/Items/Default/Default/ItemImages/Search/224x336/551396.jpg?X56" style="width:100%">
    <h1>Bottoms</h1>
    <p class="price">$11.99</p>
    <p>Men's Bottoms</p>
    <p><button>Add to Cart</button></p>
  </div>
</div>
</div>
