img {
  max-height: 310px;
  height: auto;
  width: 100%;
  float: left;
  padding: 20px;
  transition: .5s ease;
  backface-visibility: hidden;

}

h2 {
  font-size: 20px;
  font-family:serif;
  text-align: center;
  justify-content: center;
}
.shopping:hover #athlete {
  opacity: 0.3;
}
.shopping:hover #box {
  opacity: 0.3;
}
.shopping:hover #pride {
  opacity: 0.3;
}
