
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="shopping">
      <div class="col col-md-4">
        <a href="#"><img src=".././assets/img/athlete.png" id="athlete"></a>
        <h2>Athlete Recover</h2>
      </div>
      </div>
      <div class="shopping">
      <div class="col col-md-4">
        <a href="#"><img src=".././assets/img/armour-box.png" id="box"></a>
        <h2>Gear Handpicked For Your Goals</h2>
      </div>
    </div>
      <div class="shopping">
      <div class="col col-md-4">
        <a href="#"><img src=".././assets/img/pride.png" id="pride"></a>
        <h2>UA Customized Gear</h2>
      </div>
    </div>
    </div>
  </div>
</div>
