<br><br>
<div class="row">
  <div class="col col-md-4">
    <div class="card">
      <img src="https://underarmour.scene7.com/is/image/Underarmour/V5-1271517-001_HTF?template=v65GridLarge&$size=599,735&$wid=281&$hei=345&$extend=0,220,0,0" style="width:100%">
      <h1>Tops</h1>
      <p class="price">$10.99</p>
      <p>Women's Tops</p>
      <p><button>Add to Cart</button></p>
    </div>
  </div>
  <div class="col col-md-4">
    <div class="card">
      <img src="https://a248.e.akamai.net/f/248/9086/10h/origin-d4.scene7.com/is/image/Underarmour/150928_RFH_WRLD_W_PIP_Bucket_Accessories?wid=800&fmt=jpg" style="width:100%">
      <h1>Accessories</h1>
      <p class="price">$39.99</p>
      <p>Women's Accessories</p>
      <p><button>Add to Cart</button></p>
    </div>
  </div>
  <div class="col col-md-4">
  <div class="card">
    <img src="https://underarmour.scene7.com/is/image/Underarmour/V5-1292231-002_FCROP?template=v65GridLarge&$wid=281&$hei=345" style="width:100%">
    <h1>Bottoms</h1>
    <p class="price">$5.99</p>
    <p>Women's Bottoms</p>
    <p><button>Add to Cart</button></p>
  </div>
</div>
</div>
<br><br><br>
