<div class="container">
  <div class="panel panel-success" id="addShoes">
    <div class="panel-heading">
      <h3 class="panel-title">Add New Shoes to Inventory</h3>
    </div>
    <div class="panel-body">
      <div>
        <div>
          <label>Shoes Name:</label>
          <br>
          <input #newName>
        </div>

        <div>
          <label>Shoes Price:</label>
          <br>
          <input #newPrice>
        </div>

        <div>
          <label>Shoes Size:</label>
          <br>
          <input #newSize>
        </div>
 <button class="btn btn-success" (click)="submitForm(newName.value, newPrice.value, newSize.value); newName.value='';
 newPrice.value=''; newSize.value=''">Add</button>
 </div>
    </div>
  </div>
</div>
