#top-nav-bar {
  overflow: hidden;
  background-color: black;




}
#free-ship {
  padding-right: 300px;
}

.top-navbar {
    margin-top: 100px;
    display: inline;

}
a {
    text-decoration: none;
    color: white;
    padding-right: 50px;
    font-size: 15px;
    font-family: serif;

}

ul {

    text-align: right
  }
