<app-top-row></app-top-row>
<app-middle-row></app-middle-row>
<app-mid-section></app-mid-section>
<app-under-midsection></app-under-midsection>
<app-athlete></app-athlete>
<app-instagram></app-instagram>
<div class="w3-container w3-center w3-opacity w3-margin-bottom">
  <div class="w3-xlarge w3-padding-16">
       <i class="fa fa-facebook-official w3-hover-opacity"></i>
       <i class="fa fa-instagram w3-hover-opacity"></i>
       <i class="fa fa-snapchat w3-hover-opacity"></i>
       <i class="fa fa-pinterest-p w3-hover-opacity"></i>
       <i class="fa fa-twitter w3-hover-opacity"></i>
       <i class="fa fa-linkedin w3-hover-opacity"></i>
     </div>
   </div>
   <div *ngIf="user">

     <footer class="footer">
       <div class="container">
         <a class="text-muted" routerLink="admin">Admin</a>
          </div>
     </footer>
   </div>
