.shopping {
  height: auto;
}
.container {
  justify-content: center;
  text-align: center;
}


#curry {
  width: 100%;
  max-height: 450px;
  height: auto;
  margin: 20px;
  transition: .5s ease;
  backface-visibility: hidden;
  opacity: 1;
}
 #nba-combine {
   width: 100%;
   max-height: 300px;
   height: auto;
   margin: 20px;
   transition: .5s ease;
   backface-visibility: hidden;
   opacity: 1;
 }

.shopping:hover #curry {
  opacity: 0.3;
}
.shopping:hover #nba-combine {
  opacity: 0.3;
}

.shopping:hover .middle-button {
  opacity: 1;
}
