<div class="container">
<div class="row">
  <div class="col col-md-6">
    <div class="shopping">
      <a href="shoes"><img src=".././assets/img/curry-ad.png" id="curry"></a>
    </div>
    <h1>CURRY 5</h1>
    <p>Wired different. Ready to take over.</p>
  </div>
  <div class="col col-md-6">
    <div class="shopping">
      <a href="men"><img src=".././assets/img/nba-combine.png" id="nba-combine"></a>
    </div>
    <h1>MAKE 'EM NOTICE</h1>
    <p>Elite gear inspired by the NBA Combine.</p>
  </div>
</div>
</div>
