<div class="containter">
  <div id="under-nav-bar">
  <img src=".././assets/img/logo.png" id="navbar-logo">
    <nav>
      <ul>
          <li class="under-navbar"><a href="/"></a></li>
          <li class="under-navbar"><a href="#">MEN</a></li>
          <li class="under-navbar"><a href="#">WOMEN</a></li>
          <li class="under-navbar"><a href="#">BOYS</a></li>
          <li class="under-navbar"><a href="#">GIRLS</a></li>
          <li class="under-navbar"><a href="#">SHOES</a></li>
          <li class="under-navbar"><a href="#">OUTLET</a></li>
          <li class="under-navbar"><input id="search" type="text" placeholder="Search.."><a href="#"><i class="fa fa-search"></i></a></li>
          <a href="#"><i class="fa fa-heart" style="font-size:36px;"></i></a>
          <a href="#"><i class="fa fa-shopping-bag" style="font-size:36px;"></i></a>
          </ul>
    </nav>
  </div>
</div>
