#under-nav-bar {
  overflow: hidden;
  background-color: white;
  min-height: 50px;
}
nav {
  position: sticky;
  top:0; 

}





.under-navbar {
    margin-top: 100px;
    display: inline;
    text-align: center;


}
a {
    text-decoration: none;
    color: black;
    padding-right: 13px;
    font-size: 18px;
    font-family: times;
    display:run-in;
    line-height: 10vh;
    position: relative;
    top: 10px;
    left: 100px;
    font-weight: bold;
}
i {
  padding-left: 20px;

}

ul {

    text-align: center;
}

#navbar-logo{
  height: 80px;
  width: 100px;
  padding-top: 20px;
  float: left;
  display: block;
  padding: inherit;
}
#heart-logo, #shopping-logo {
  height: 80px;
  width: 100px;
  padding-top: 20px;
  float: right;
  display: block;
  padding: inherit;
}
#search {

  margin-right: 60px;
  position: relative;
  top: 10px;
  left: 170px;
  line-height: 1.5em;
  padding-right: 70px;
}
